.cpArea,.nav{ display:none;}

/*nav*/
.nav_wrap{ height:49px !important;}
.wapNavBtn{ display:block; position:absolute; top:19px; right:16px; width:24px; cursor:pointer;}
.headerLogo{ width:56px; top:16px !important; left:16px;}
.nav_language{ display:block; position:absolute; top:17px; right:50px;}
.nav_language span{ padding:0px 5px; font-size:14px; line-height:14px; display:inline-block;}
.nav_language span a{ color:#999;}
.nav_language .cn{ border-right:1px solid #bababa;}
.nav_language .on a{ color:#7D2F8D;}
.wapNav{ display:none; position:fixed; top:48px; left:0px; width:100%; padding-bottom:20px; background:#fff;}
.wapNav ul{ width:90%; margin:0px auto; border-top:1px solid #dadada; font-size:12px;}
.wapNav ul p{ position:relative; height:36px; line-height:36px; border-left:1px solid #dadada; border-right:1px solid #dadada; border-bottom:1px solid #dadada; background:#f9f9f9;}
.wapNav ul p img{ position:absolute; top:3px; right:3px; cursor:pointer;}
.wapNav a{ color:#666;}
.wapNav a.title{ height:16px; line-height:16px; display:inline-block; padding:0px 2%;}
.wapNav a.hover,.wapNav a.title:hover{ color:#7D2F8D;}
.wapNav ul div{ display:none;}
.wapNav ul div a{ display:block; padding:0px 4%; height:36px; line-height:36px; border-left:1px solid #dadada; border-right:1px solid #dadada; border-bottom:1px solid #dadada; background:#f9f9f9;}
.wapNav ul div a:hover{ background:#7D2F8D; color:#fff;}

/*banner*/
.banner{ width:100%; height:369px; overflow:hidden;}
.banner ul li{ height:369px; background-size:auto 320px;}
.banner .container{ left:20px; margin-left:0px; margin-top:-50px;}
.banner .title{ top:30px; font-size:22px;}
.banner .info{ display:none;}
.banner a{ top:96px; width:100px; height:24px; line-height:24px; border-radius:12px;}

/*about*/
.about{ width:100%; padding:34px 12px 20px; box-sizing:border-box;}
.about_l,.about_l img,.about_r{ width:100%;}
.about_r{ height:auto; padding-bottom:50px;}
.about_r h4{ line-height:33px; margin-bottom:0px; padding-top:18px; font-size:25px;}
.about_r p{ padding-top:12px;}
.about_r a{ height:32px; line-height:32px; border:2px solid #dcdcdc; border-radius:18px;}
.about_r a:hover{ border-color:#fff;}

/*news*/
.news .tit{ height:35px; line-height:35px; font-size:20px;}
.news_main{ width:100%;}
.news_main .In{ width:210px; height:220px; margin:0px auto;}
.news_main li{ width:210px; height:215px; margin-right:0px;}
.news_main .childImg{ width:100%; height:125px;}
.news_main .childImg img{ width:210px;}
.news_main .childTitle{ padding-top:10px; height:18px; line-height:18px; font-size:14px;}
.news_main .childTime{ height:18px; line-height: 18px; padding-bottom:8px; font-size:12px;}
.news_btn{ width:18px; height:35px;}
.news_left{ left:12px;}
.news_right{ right:12px;}

/*video_In*/
.video_In{ width:280px; padding:10px 10px 50px;  height:240px; margin:-120px 0px 0px -150px;}

/*other*/
.other{ width:280px;}
.other li{ width:280px; margin:0px auto; padding-bottom:60px;}
.other .childTit{ margin-top:23px; height:30px; line-height:30px; font-size:14px;}
.other .childInfo{ padding-top:10px; font-size:12px;}
.news_main .childInfo{ height:36px; line-height:18px; font-size:12px;}

/*case*/
.case{ padding-bottom:0px;}
.case .tit{ height:35px; line-height:35px; font-size:20px;}
.case .con{ width:100%; margin-top:0px; padding:34px 12px 20px; box-sizing:border-box;}
.case .con li{ width:100%; height:auto;}
.case .con .case_Img img{ width:100%; height:auto;}

/*foot*/
.foot_top .comWidth{ width:100%;}
.foot_top .title,.foot_l .search,.foot_top .con{ padding-top:10px; font-size:12px;}
.foot_top{ height:130px;}
.foot_l{ padding-left:10px;}
.foot_r{ width:130px;}
.foot_l .search input{ width:80px;}
.foot_btm{ line-height:24px; padding:10px 0px;}

/*ej_banner*/
.ej_banner{ margin-top:75px; width:100%; height:55px; line-height:55px;}
.about_banner{ background:url(../images/banner_about.jpg) no-repeat top center;}
.ej_banner .comWidth{ width:100%;}
.ej_banner_l{ float:left; padding-left:20px; font-size:20px; color:#333;}
.ej_banner_r{ float:right; padding-right:20px; color:#666;}
.ej_banner_r span{ margin:0px 5px;}
.ej_banner_r a,.ej_banner_r a:hover{ color:#666;}

/*about页面*/
.about_tit{ width:auto; margin:20px 12px 0px;}
.about_about{ margin-top:-20px;}
.aboutCon .form{ padding-top:0px;}
.aboutCon,.aboutCon_l,.aboutCon_r,.about_cus,.about_last{ width:100%;}
.aboutCon_l,.aboutCon_r,.about_cus,.about_last{ padding:0px 12px; box-sizing:border-box;}
.aboutCon .main ul,.aboutCon .main .info{ margin:5px 0px;}
.aboutCon .main ul li,.aboutCon .main .info{ font-size:12px;}
.aboutCon .tit_w{ font-size:14px;}
.aboutCon .formInput input,.aboutCon .txt{ width:280px;}
.about_cus p{ line-height:24px; font-size:16px; padding:20px 0px 10px;}
.about_cus_In{ height:100%;}
.about_cus_In .cus_w{ width:100%; box-sizing:border-box;}
.about_cus_In ul{ position:static; width:100%;}
.about_cus_In li{ margin-right:0px; width:100%;}
.about_cus_In .cus_w{ height:auto;}
.about_last li{ width:100%; margin-right:0px; margin-bottom:22px;}

/*解决方案页面*/
.about_l{ padding-bottom:10px;}
.about_r p{ padding-top:0px;}
.res_title,.resCon{ width:100%; padding:0px 12px; box-sizing:border-box;}
.resMain{ width:100%; padding:0px 12px 20px; box-sizing:border-box;}
.resMain li{ width:100%;}
.resMain .res_pic{ width:100%; height:184px;}
.resCon .form_r{ display:none;}
.resCon .formInput input,.resCon .txt{ width:280px;}

/*产品页面*/
.cp_area{ width:100%; padding:20px 12px 20px 12px; box-sizing:border-box;}
.cp_area li{ width:100%; margin-bottom:20px;}
.cp_area li .childImg{ height:100%;}

/*技术支持*/
.tra_main,.tra_con,.tra_foot{ width:100%; padding:0px 12px; box-sizing:border-box;}
.tra_main>div{ width:100%;}
.tra_r_tit{ margin:20px 0px 10px;}
.tra_r_con dt,.tra_r_con dt img{ width:107px;}
.tra_r_con dd{ width:155px; padding:23px 0 0 20px;}
.tra_r_con dd .xq{ display:none;}
.traBtm .tra_r{ height:auto;}

/*新闻动态*/
.news_con{ width:100%; padding:0px 12px; box-sizing:border-box;}
.news_con .news_list li{ width:100%; margin-right:0px; padding-right:10px; box-sizing:border-box;}

/*联系我们*/
.conCon{ width:100%; padding:0px 12px; box-sizing:border-box;}
.conBoxlist li{ width:100%; height:auto;}
.con_info_select span{ display:block; margin-bottom:10px;}
.con_info_select select{ width:100%;}









